.idea/*
!.idea/codeStyles
!.idea/inspectionProfile
*.iml
.gradle
/local.properties
/android-standard/androidStandard.properties
.DS_Store
/build
*/build
app/gpp-key.json
app/src/main/play/
/captures
.externalNativeBuild
/temp
_mirror
mapping.txt
logs
cpd_logs
report/
